<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926454865805-i8pkbf3dklj868prunu94i65s4gte7jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926454865805-i8pkbf3dklj868prunu94i65s4gte7jn</string>
	<key>API_KEY</key>
	<string>AIzaSyDs3NBOr0vTmj6w34jSMmiIc8sn3zVu6lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>926454865805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>mhendo-6c514</string>
	<key>STORAGE_BUCKET</key>
	<string>mhendo-6c514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926454865805:ios:74465181e73bf3f8ff67c4</string>
</dict>
</plist>